@model FilterBaseViewModel
@{
    var names = Model.EntityNames.ToList();
    var ids = Model.EntityIds.ToList();
}
<div class="filter-box @(this.ViewBag.Type) d-none">

    @for (int i = 0; i < names.Count; i++)
    {
        <div>
            <input type="checkbox" id="@(this.ViewBag.Type)-@i" value="@(this.ViewBag.Type !=  "gradesValues" ? ids[i] : "")" />
            <label for="@(this.ViewBag.Type)-@i">@names[i]</label>
        </div>
    }
</div>