@model IEnumerable<ReviewQuizViewModel>

@foreach (var question in Model)
{
    <div class="question">
        <h5>@question.Title</h5>
        <div class="@(question.IsAnswerCorrect ? "text-success" : "text-danger")">@(question.IsAnswerCorrect ? "Верен отговор" : $"Грешен отговор. Верен отговор: {question.ActualAnswers}")</div>
        <div class="answers">
            <div class="answer-1">
                <input type="@(question.Type == QuestionType.Radio ? "radio" : "checkbox")" disabled @(question.IsFirstAnswerChecked ? "checked" : "")/>
                <label>@question.FirstAnswerContent</label>
            </div>

            <div class="answer-2">
                <input type="@(question.Type == QuestionType.Radio ? "radio" : "checkbox")" disabled @(question.IsSecondAnswerChecked ? "checked" : "") />
                <label>@question.SecondAnswerContent</label>
            </div>

            <div class="answer-3">
                <input type="@(question.Type == QuestionType.Radio ? "radio" : "checkbox")" disabled @(question.IsThirdAnswerChecked ? "checked" : "") />
                <label>@question.ThirdAnswerContent</label>
            </div>

            <div class="answer-4">
                <input type="@(question.Type == QuestionType.Radio ? "radio" : "checkbox")" disabled @(question.IsFourthAnswerChecked ? "checked" : "") />
                <label>@question.FourthAnswerContent</label>
            </div>

        </div>
    </div>
}

<div class="grade-container border-2">
    <p>Точки: <b>@Model.Sum(q => q.EarnedPoints) точки</b></p>
    <p>Оценка: TODO</p>
</div>



